html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

/*
Global style
*****************************/
.Login .main {
  width: 585px;
  margin: auto;
  padding: 47px;
  border-radius: 10px;
  box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
  background: #fff;  
  overflow: hidden;
}

.Login header,footer {
  text-align: center;
}

 body {
  margin: 0;
  padding: 0; 
  font-family: 'Source Sans Pro', sans-serif;
  background: #e6eded;
  
}

.Login input, .Login .btn  {
  width: 360px !important;
  
}

.Login input {
  height: 73px !important;
}

.Login .btn {
  margin-top: 10px;
  height: 54px;
  text-transform: uppercase; 
}

.Login h1 {
  margin: 22px;
}

/*
header
*****************************/
.Login footer {
  margin-top: 25px;
}
/*
footer
*****************************/

/*
content
*****************************/
.Login .content {
  width: 436px;
  margin: auto;
  /* border: 1px solid red; */
  padding: 0 25px;
  
}


.Login .content .form-group {
  margin:0
}


